<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/application.min.js"></script>

<script>
  anchors.add(".code-content h2, .sub-section h2");

  hljs.initHighlightingOnLoad();

  $(document).foundation();
</script>


<script>
  jQuery(document).ready(function($) {
    $('#code-slider').slick({arrows: true, dots: true});
  });
</script>

<script type="text/javascript">
  $("#trb-more").click( function(e) { e.preventDefault(); $("button.slick-next").click() } );
</script>
