.top-footer {
  background: lighten($tuatara, 3);
  color: lighten($tuatara, 35);

  h3 {
  	color: lighten($tuatara, 46);
  }
  a {
  	color: lighten($tuatara, 40);
  	text-decoration: underline;
  }
}