/*
$include-html-panel-classes: $include-html-classes !default;

// We use these to control the background and border styles
$panel-bg: scale-color($green, $lightness: -5%) !default;
$panel-border-style: solid !default;
$panel-border-size: 1px !default;

// We use this % to control how much we darken things on hover
$panel-border-color: scale-color($panel-bg, $lightness: -11%) !default;

// We use these to set default inner padding and bottom margin
$panel-margin-bottom: rem-calc(20) !default;
$panel-padding: rem-calc(20) !default;

// We use these to set default font colors
$panel-font-color: $oil !default;
$panel-font-color-alt: $white !default;
*/

.panel {
  border-color: #d8d8d8;
  border-width: 0.5px;
  background-color: #f2f2f2;
}

// TODO: merge with NEW from sidebar?
.gem-version {
  background-color: #f2f2f2;
  padding: 4px 6px;
  border-radius: 3px;
  font-size: 9pt;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-left: -6px
}
