<!doctype html>
<html class="no-js">
  <head>
    {% include head.html %}
  </head>

  <body>
    <!-- Top Bar -->
    {% include nav.html %}


    {{ content }}

    <!-- Gems -->
    <section class="sub-section gems">
      <div class="row">
        <div class="columns">
            {% include gems.html %}
        </div>
      </div>
    </section>

    <!-- Book -->
    <section class="sub-section book">
      <div class="row">
        <div class="columns">
            {% include book.html %}
        </div>
      </div>
    </section>

    <!-- Testimonials -->
    <section class="sub-section testimonials">
      <div class="row">
        <div class="columns">
          {% include testimonials.html %}
        </div>
      </div>
    </section>

    {% include footer.html %}
  </body>
</html>
